NODE_ENV=test
DATABASE_URL=postgresql://user:password@localhost:5432/realdb?schema=public
TEST_DATABASE_URL=postgresql://testuser:testpassword@localhost:5432/testdb?schema=public
JWT_SECRET=changeme
ADMIN_PASSWORD=changeme